<ng-container *ngIf="reviews.length > 0; else noReviews">
    <div class="review-container">
        <div class="word">
            <div class="word__content">
                {{ activeVocabItem.en_word }}
            </div>

            <div class="word__remaining_label">
                {{
                    (
                        translationService.translations$ | async
                    ).remaining_label.replace("{0}", reviews.length)
                }}
            </div>
        </div>

        <div class="user-input">
            <app-user-input
                [vocabItem]="activeVocabItem"
                [mode]="activeMode"
                (responseSubmitted)="onResponse($event)"
                (nextItemRequested)="onNextItemRequested()"
            ></app-user-input>
        </div>

        <div class="item-info">
            <app-item-info [vocabItem]="activeVocabItem"></app-item-info>
        </div>
    </div>
</ng-container>

<ng-template #noReviews>
    No More Reviews, TODO: Completion Screen
</ng-template>
