.container {
    background: linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(250, 250, 250, 1) 100%
    );
    height: 60px;
    position: relative;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
    padding: 0 20px;
    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        .info {
            display: flex;
            flex-direction: row;

            &__item {
                padding-left: 24px;
                display: flex;
                align-items: center;
            }

            .user {
                height: 40px;

                &__name {
                    padding-right: 10px;
                    font-size: larger;
                }
                i {
                    font-size: 32px;
                    display: flex;
                }
            }
        }

        .logos {
            user-select: none;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            .logo {
                padding-right: 10px;
                &--jp {
                    font-size: medium;
                    padding-bottom: 4px;
                }

                &--en {
                    font-weight: bold;
                    font-style: oblique;
                    font-size: xx-large;
                }
            }
        }
    }
}
