<div class="container">
    <div class="content">
        <div class="logos" (click)="onHomeClicked()">
            <div class="logo logo--en">{{ "Arufa" }}</div>
            <div class="logo logo--jp">{{ "アルファ" }}</div>
        </div>
        <div class="info">
            <div class="info__item reviews">
                <button nz-button nzType="dashed" (click)="toggleLang()">
                    {{
                        (translationService.translations$ | async)
                            .language_toggle_label
                    }}
                </button>
            </div>
            <div class="info">
                <div (click)="onReviewClicked()" class="info__item reviews">
                    <button nz-button nzType="primary">
                        {{
                            (
                                translationService.translations$ | async
                            ).review_button.replace(
                                "{0}",
                                (arufaService.reviews$ | async).length
                            )
                        }}
                    </button>
                </div>
                <div (click)="onLessonsClicked()" class="info__item lessons">
                    <button nz-button nzType="danger">
                        {{
                            (
                                translationService.translations$ | async
                            ).lesson_button.replace(
                                "{0}",
                                (arufaService.lessons$ | async).length
                            )
                        }}
                    </button>
                </div>
                <div class="info__item user">
                    <div class="user__name">
                        {{ (arufaService.loggedInUserInfo$ | async).username }}
                    </div>
                    <i nz-icon [nzType]="'smile'" [nzTheme]="'twotone'"></i>
                </div>
            </div>
        </div>
    </div>
</div>
